* {
  font-family: monospace;

}

.body {
  justify-content: center;
  margin: auto;
  display: block;
  padding: 0 16px;
  max-width: 800;



}
.header {
  justify-content: center;
  text-align: center;
}

.story {
  font-size: 20px;

}
