* {
  font-family: sans-serif;
  font-size: 16px;
  color: #2e2e2e;
  line-height: 2;
  box-sizing: border-box;
}

.navbar {
	margin-bottom: 40px;
}


.body {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0 16px;
  max-width: 800;
}

.welcome {
  justify-content: center;
  text-align: center;
}

.flavor-text {
  font-family: monospace;
  /*font-size: 20px;*/
  padding-left: 20px;
  padding-right: 2px;
}

.recipe-list {
	display: flex;
	flex-direction: column;
}

.recipe-list-entry {
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	border: 1px solid #2e2e2e;
	border-radius: 5px;
	margin: 5px;
  padding: 10px;
}

.recipe-list-image {
  width: fit-content;
  margin: 5px;
}

.recipe-list-image img {
  width: 100%;
	border: 1px solid #2e2e2e;
	border-radius: 5px;
}

.recipe-list-text {
  display: flex;
  flex-direction: column;
	width: 100%;
  margin: 5px;
  align-items: center;
}

.first {
	order: -1;
  justify-content: start;
}

.footer {
  align-content: center;
  text-align: center;

}
.footer img {
  max-width: 2em;
}
